@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
section {
   max-height:100vh;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    align-content: center;
}
.svg{
    width: 70px;
height: 70px;
top: 328px;
left: 1015px;
margin: 2px;
}
.container {
    width: 1140px;
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}
.email {
    width: 470px;
    height: 60px;
    border-radius: 100px;
    border-radius: 100px;
    padding: 18px 307px 16px 24px;
    border: 2px solid #EBEAED;
}
.image{
    width: 470px;
height: 265px;
top: 230px;
left: 815px;
}
.card{width: 470px;
    height: 381px;
    top: 230px;
    left: 815px;
    gap: 0px;
    opacity: 0px;
    }
.password {
    width: 470px;
    height: 60px;
    border-radius: 100px;
    font-weight: 500px;
    padding: 18px 307px 16px 24px;
    margin-top: 30px;
    border: 2px solid #EBEAED;
    color: #EBEAED;
}
.d-flex {
    display: flex;
}
.button2{
    border-radius: 100px;
    padding: 17px 204px 17px 204px;
    background: #25DAC5;
    border: 2px solid #25DAC5;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;   
}
[placeholder]{
    font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 26px;
text-align: left;
color: #15143966;


}
.head {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    text-align: center;
    width: 120px;
    height: 32px;

    color: #1E0E62;
}
.aline-item-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.lg-view{
    align-items: center;
}
.gap-33{
    gap: 33px;
}
.ml-407{
    margin-left: 326px;
}
.DM-Sans {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #15143966;
    line-height: 28px;
    text-align: left;

}
.DM-Sans1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #15143966;
    text-align: right;

}
.button1 {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background: #25DAC5;
    color: white;
    border: 2px solid #25DAC5;
    cursor: pointer;
}
.para {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #15143966;
    width: 445px;
    margin-top: 17px;
}
h3 {
    width: 600px;
    height: 156px;
margin-bottom: 77px;
    font-family: "DM Sans", sans-serif;
    font-size: 43px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #1E0E62;
    margin-top: 110px;
}
.photo {
    align-items: right;
    margin-top: 123px;
    margin-left: 100px;
}
.posi-re{
    position: relative;
}
.transform{
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.icon {
    width: 70px;
    height: 70px;
    top: 328px;
    left: 1015px;
}
nav{
margin-top: 67px;
}
.text {
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    line-height: 28px;
    text-align: left;
    width: 452px;
    height: 112px;
    margin-top: 32px;
    color: #15143966;
    margin-left:100px;
margin-right: 120px;
}
.dropbtn {
    background-color: white;
    color:#A1A1B0;
 margin-right: -25px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;
}
.dropdown:hover .dropdown-content {display: block;
}
  
